* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
* a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  background-color: #031927;
}
.nav__wrapper {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.nav__logo {
  display: flex;
  height: 80px;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__list i {
  margin-right: 7px;
}
.nav__link {
  color: #9dd1f1;
  margin: 0 10px;
  transition: 0.3s;
}
.nav__link:hover {
  transform: scale(1.15);
  color: #508aa8;
}
.nav__contacts-email {
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    background-color: #031927;
  }
  .nav__wrapper {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  .nav__logo {
    height: 40px;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__list i {
    margin-right: 5px;
  }
  .nav__link {
    font-size: 12px;
    color: #9dd1f1;
    padding: 5px 0;
    margin: 0 5px;
    display: flex;
    transition: 0.3s;
  }
  .nav__link:hover {
    -webkit-animation: flash 0.5s;
            animation: flash 0.5s;
  }
  .nav__contacts-email {
    cursor: pointer;
  }
}
@media (max-width: 375px) {
  .nav {
    background-color: #031927;
  }
  .nav__wrapper {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35px;
  }
  .nav__logo {
    display: none;
    height: 60px;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__list i {
    margin-right: 5px;
  }
  .nav__link {
    font-size: 10px;
    color: #9dd1f1;
    padding: 10px 0;
    margin: 0 10px;
    transition: 0.3s;
  }
  .nav__link:hover {
    -webkit-animation: flash 0.5s;
            animation: flash 0.5s;
  }
  .nav__contacts-email {
    cursor: pointer;
  }
}
@media (max-width: 345px) {
  .nav {
    background-color: #031927;
  }
  .nav__wrapper {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25px;
  }
  .nav__logo {
    display: none;
    height: 60px;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__list i {
    margin-right: 5px;
  }
  .nav__link {
    font-size: 8px;
    color: #9dd1f1;
    padding: 10px 0;
    margin: 0 5px;
    transition: 0.3s;
  }
  .nav__link:hover {
    -webkit-animation: flash 0.5s;
            animation: flash 0.5s;
  }
  .nav__contacts-email {
    cursor: pointer;
  }
}
.slider-wrapper {
  margin: 0 auto;
  position: relative;
  max-height: 95vh;
  overflow: hidden;
}
.slider-wrapper .slider-content {
  position: absolute;
  z-index: 1100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper .slider-content__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  background-color: rgba(3, 25, 39, 0.6);
  padding: 30px;
  border-radius: 25px;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
}
.slider-wrapper .slider-content__logo {
  max-width: 700px;
}
.slider-wrapper .slider-content__text {
  font-size: 24px;
  color: #9dd1f1;
}

.slider__item {
  overflow: hidden;
}
.slider__item-img {
  width: 100%;
  height: 100%;
}

.slick-track {
  display: flex;
  justify-content: center;
}

.slick-list {
  overflow: hidden;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 auto;
    position: relative;
    max-height: 95vh;
    overflow: hidden;
  }
  .slider-wrapper .slider-content {
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-wrapper .slider-content__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    background-color: rgba(3, 25, 39, 0.6);
    padding: 30px;
    border-radius: 25px;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .slider-wrapper .slider-content__logo {
    max-width: 400px;
  }
  .slider-wrapper .slider-content__text {
    font-size: 16px;
    text-align: justify;
    color: #9dd1f1;
  }

  .slider__item {
    overflow: hidden;
  }
  .slider__item-img {
    width: 100%;
    height: 100%;
  }

  .slick-track {
    display: flex;
    justify-content: center;
  }

  .slick-list {
    overflow: hidden;
  }
}
@media (max-width: 375px) {
  .slider-wrapper {
    margin: 0 auto;
    position: relative;
    max-height: 95vh;
    overflow: hidden;
  }
  .slider-wrapper .slider-content {
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-wrapper .slider-content__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    background-color: rgba(3, 25, 39, 0.6);
    padding: 10px;
    border-radius: 25px;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .slider-wrapper .slider-content__logo {
    max-width: 200px;
  }
  .slider-wrapper .slider-content__text {
    font-size: 12px;
    text-align: justify;
    color: #9dd1f1;
  }

  .slider__item {
    overflow: hidden;
  }
  .slider__item-img {
    width: 100%;
    height: 100%;
  }

  .slick-track {
    display: flex;
    justify-content: center;
  }

  .slick-list {
    overflow: hidden;
  }
}
.trainers {
  background: url(../images/trainers/bg4.jpg) no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.trainers__wrapper {
  padding-top: 30px;
  padding-bottom: 50px;
}
.trainers__title {
  text-shadow: 0 0 4px #031927;
  color: #9dd1f1;
  font-size: 48px;
  font-weight: bold;
}
.trainers__title--decor {
  color: #508aa8;
  font-size: 64px;
  font-weight: bold;
  position: relative;
}
.trainers__title--decor::after {
  content: "";
  width: 47%;
  height: 4px;
  background-color: #9dd1f1;
  position: absolute;
  top: 88px;
  left: 0;
  border-radius: 3px;
}
.trainers__text {
  text-shadow: 0 0 4px #031927;
  margin-top: 30px;
  padding: 20px 0;
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #9dd1f1;
  text-align: justify;
}
.trainers__item-img-wrapper {
  overflow: hidden;
}
.trainers__our-trainers {
  text-shadow: 0 0 4px #031927;
  color: #9dd1f1;
  text-align: right;
  font-size: 48px;
}
.trainers__our-trainers--decor {
  color: #508aa8;
  font-weight: bold;
  text-align: right;
  font-size: 64px;
  position: relative;
}
.trainers__our-trainers--decor::after {
  content: "";
  width: 47%;
  height: 4px;
  background-color: #9dd1f1;
  position: absolute;
  top: 88px;
  right: 0;
  border-radius: 3px;
}
.trainers__inner {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trainers__item {
  border-radius: 5px;
  position: relative;
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(3, 25, 39, 0.7);
}
.trainers__item:hover > .trainers__item-name {
  transition: 1s;
  right: 60px;
}
.trainers__item-img {
  border-radius: 5px;
  height: 350px;
  transition: 2s;
}
.trainers__item-img:hover {
  transform: scale(1.1);
}
.trainers .trainers__item:hover > .trainers__item-name {
  display: block;
  transition: 1s;
  right: 60px;
  border-color: #1b6eae;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.trainers__item-contact {
  padding: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trainers__item-name {
  display: none;
  position: absolute;
  font-size: 38px;
  font-weight: bold;
  font-family: "lobster", cursive;
  top: 50px;
  right: 40px;
  color: #508aa8;
  text-shadow: 0 0 4px black;
}
.trainers__ltem-list {
  display: flex;
}
.trainers__item-phone {
  font-weight: bold;
  color: #2a6179;
}
.trainers__item-link {
  cursor: pointer;
  margin-left: 20px;
  color: #3dadd8;
  transition: 0.3s;
}
.trainers__item-link:hover {
  color: #06055f;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .trainers {
    background: url(../images/trainers/bg4.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .trainers__wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .trainers__title {
    text-shadow: 0 0 4px #031927;
    color: #9dd1f1;
    font-size: 38px;
    font-weight: bold;
  }
  .trainers__title--decor {
    text-shadow: 0 0 4px #031927;
    color: #508aa8;
    font-size: 48px;
    font-weight: bold;
    position: relative;
  }
  .trainers__title--decor::after {
    content: "";
    width: 47%;
    height: 4px;
    background-color: #9dd1f1;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 3px;
  }
  .trainers__text {
    text-shadow: 0 0 4px #031927;
    margin-top: 30px;
    padding: 20px 0;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #9dd1f1;
    text-align: justify;
  }
  .trainers__item-img-wrapper {
    overflow: hidden;
  }
  .trainers__our-trainers {
    text-shadow: 0 0 4px #031927;
    color: #9dd1f1;
    text-align: right;
    font-size: 35px;
  }
  .trainers__our-trainers--decor {
    text-shadow: 0 0 4px #031927;
    color: #508aa8;
    font-weight: bold;
    text-align: right;
    font-size: 48px;
    position: relative;
  }
  .trainers__our-trainers--decor::after {
    content: "";
    width: 47%;
    height: 4px;
    background-color: #9dd1f1;
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 3px;
  }
  .trainers__inner {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .trainers__item {
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    background-color: rgba(3, 25, 39, 0.7);
  }
  .trainers__item:hover > .trainers__item-name {
    transition: 1s;
    right: 60px;
  }
  .trainers__item-img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    transition: 2s;
  }
  .trainers__item-img:hover {
    transform: scale(1.1);
  }
  .trainers .trainers__item:hover > .trainers__item-name {
    display: block;
    transition: 1s;
    right: 60px;
    border-color: #1b6eae;
    -webkit-animation: fadeIn;
            animation: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .trainers__item-contact {
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
  }
  .trainers__item-name {
    display: none;
    position: absolute;
    font-size: 38px;
    font-weight: bold;
    font-family: "lobster", cursive;
    top: 50px;
    right: 40px;
    color: #508aa8;
    text-shadow: 0 0 4px black;
  }
  .trainers__item-phone {
    font-weight: bold;
    color: #3dadd8;
    margin-left: 30px;
  }
  .trainers__item-link {
    cursor: pointer;
    margin-left: 20px;
    color: #3dadd8;
    transition: 0.3s;
  }
  .trainers__item-link:hover {
    color: #06055f;
    transform: scale(1.1);
  }
}
@media (max-width: 375px) {
  .trainers {
    background: url(../images/trainers/bg4.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .trainers__wrapper {
    padding: 10px 15px;
    padding-bottom: 50px;
  }
  .trainers__title {
    text-shadow: 0 0 4px #031927;
    color: #9dd1f1;
    font-size: 22px;
    font-weight: bold;
  }
  .trainers__title--decor {
    text-shadow: 0 0 4px #031927;
    color: #508aa8;
    font-size: 28px;
    font-weight: bold;
    position: relative;
  }
  .trainers__title--decor::after {
    content: "";
    width: 47%;
    height: 4px;
    background-color: #9dd1f1;
    position: absolute;
    top: 35px;
    left: 0;
    border-radius: 1px;
  }
  .trainers__text {
    text-shadow: 0 0 4px #031927;
    margin-top: 30px;
    padding: 20px 0;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #9dd1f1;
    text-align: justify;
  }
  .trainers__item-img-wrapper {
    overflow: hidden;
  }
  .trainers__our-trainers {
    text-shadow: 0 0 4px #031927;
    color: #9dd1f1;
    text-align: right;
    font-size: 22px;
  }
  .trainers__our-trainers--decor {
    text-shadow: 0 0 4px #031927;
    color: #508aa8;
    font-weight: bold;
    text-align: right;
    font-size: 28px;
    position: relative;
  }
  .trainers__our-trainers--decor::after {
    content: "";
    width: 47%;
    height: 4px;
    background-color: #9dd1f1;
    position: absolute;
    top: 35px;
    right: 0;
    border-radius: 1px;
  }
  .trainers__inner {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .trainers__item {
    margin-bottom: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    position: relative;
    padding: 10px;
    background-color: rgba(3, 25, 39, 0.7);
  }
  .trainers__item-img {
    border-radius: 5px;
    height: 220px;
    transition: 2s;
  }
  .trainers__item-img:hover {
    transform: scale(1.1);
  }
  .trainers .trainers__item:hover > .trainers__item-name {
    display: block;
    transition: 1s;
    right: 25px;
    border-color: #1b6eae;
    -webkit-animation: fadeIn;
            animation: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .trainers__item-contact {
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  .trainers__item-name {
    display: none;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    font-family: "lobster", cursive;
    top: 20px;
    right: 20px;
    color: #508aa8;
    text-shadow: 0 0 4px black;
  }
  .trainers__item-phone {
    font-weight: bold;
    color: #3dadd8;
    margin-left: 5px;
  }
  .trainers__item-link {
    cursor: pointer;
    margin-left: 20px;
    color: #3dadd8;
    transition: 0.3s;
  }
  .trainers__item-link:hover {
    color: #06055f;
    transform: scale(1.1);
  }
}
.gallery {
  background-color: #031927;
}
.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.gallery__item {
  border: 5px solid #508aa8;
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
  transition: 0.3s;
}
.gallery__item:hover {
  transform: scale(1.03);
  border-color: #9dd1f1;
}
.gallery__item-open {
  border-radius: 5px;
  position: absolute;
  width: 600px;
  border: 3px solid #9dd1f1;
}
.gallery__item-img {
  cursor: pointer;
  width: 320px;
  display: flex;
  transition: 1s;
}
.gallery__item-img:hover {
  transform: scale(1.1);
}

@media (max-width: 650px) {
  .gallery__item-open {
    display: none;
    border-radius: 5px;
    position: absolute;
    width: 600px;
    border: 3px solid #9dd1f1;
  }
}
@media (max-width: 375px) {
  .gallery {
    background-color: #031927;
  }
  .gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .gallery__item {
    border: 2px solid #508aa8;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    transition: 0.3s;
  }
  .gallery__item:hover {
    transform: scale(1.03);
    border-color: red;
  }
  .gallery__item-open {
    display: none;
    border-radius: 5px;
    position: absolute;
    width: 600px;
    border: 3px solid #9dd1f1;
  }
  .gallery__item-img {
    cursor: pointer;
    width: 350px;
    display: flex;
    transition: 1s;
  }
  .gallery__item-img:hover {
    transform: scale(1.1);
  }
}
.advantage {
  background-color: #031927;
}
.advantage__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 20px;
  color: white;
  font-size: 24px;
}
.advantage__item {
  width: 300px;
  text-align: center;
}
.advantage .ret {
  padding-bottom: 20px;
  color: #9dd1f1;
  width: 400 px;
  font-size: 30px;
  text-align: center;
}
.advantage__title {
  color: #508aa8;
}
.advantage__item-text {
  color: #9dd1f1;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .advantage {
    padding: 0 18px;
    background-color: #031927;
  }
  .advantage__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 0;
    color: white;
    font-size: 18px;
  }
  .advantage__item {
    width: 300px;
    text-align: center;
  }
  .advantage__title {
    color: #508aa8;
  }
  .advantage__item-text {
    color: #9dd1f1;
    margin-top: 10px;
  }
}
@media (max-width: 375px) {
  .advantage {
    padding: 0 18px;
    background-color: #031927;
  }
  .advantage__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    color: white;
    font-size: 14px;
  }
  .advantage__item {
    margin: 10px 0;
    text-align: center;
    width: 250px;
  }
  .advantage__title {
    color: #508aa8;
  }
  .advantage__item-text {
    color: #9dd1f1;
    margin-top: 10px;
  }
}
.footer {
  padding: 60px 0;
  padding-bottom: 100px;
  background: url(../images/trainers/bgImage.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.footer__wrapper {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(3, 25, 39, 0.8);
  padding: 50px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  color: #9dd1f1;
}
.footer__contacts a {
  color: #9dd1f1;
  transition: 0.3s;
  display: flex;
}
.footer__contacts a:hover {
  transform: scale(1.05);
  color: #508aa8;
}
.footer__contacts i {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
.footer__contacts-title {
  margin-bottom: 10px;
  font-size: 42px;
}
.footer__map {
  margin-top: 20px;
  display: flex;
  border: 4px solid #508aa8;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 0 10px 0;
    padding-bottom: 100px;
    background: url(../images/trainers/bgImage.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .footer__wrapper {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(3, 25, 39, 0.8);
    padding: 10px;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    font-size: 24px;
    color: #9dd1f1;
    margin-bottom: 30px;
  }
  .footer__contacts a {
    color: #9dd1f1;
    transition: 0.3s;
    display: flex;
  }
  .footer__contacts a:hover {
    transform: scale(1.15);
    color: #508aa8;
  }
  .footer__contacts i {
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }
  .footer__contacts-title {
    margin-bottom: 10px;
    font-size: 42px;
  }
  .footer__contacts-email {
    font-size: 20px;
  }
  .footer__map {
    width: 100%;
    height: 400px;
    display: flex;
    border: 4px solid #508aa8;
    border-radius: 5px;
  }
  .footer__map iframe {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 1070px) {
  .footer {
    padding: 10px 0 10px 0;
  }

  .footer__contacts {
    width: 600px;
  }
  .footer__contacts div {
    padding: 10px 0;
  }
  .footer__contacts a {
    padding: 10px 0;
  }
}
@media (max-width: 375px) {
  .footer {
    padding: 10px 0;
    padding-bottom: 5px;
    background: url(../images/trainers/bgImage.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .footer__wrapper {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(3, 25, 39, 0.8);
    padding: 10px;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    font-size: 16px;
    color: #9dd1f1;
    margin-bottom: 30px;
  }
  .footer__contacts div {
    padding: 0px 0;
  }
  .footer__contacts a {
    padding: 0px 0;
    color: #9dd1f1;
    transition: 0.3s;
    display: flex;
  }
  .footer__contacts a:hover {
    transform: scale(1.15);
    color: #508aa8;
  }
  .footer__contacts i {
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }
  .footer__contacts-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 22px;
  }
  .footer__contacts-email {
    font-size: 12px;
  }
  .footer__map {
    width: 100%;
    height: 100%;
    display: flex;
    border: 4px solid #508aa8;
    border-radius: 5px;
  }
  .footer__map iframe {
    width: 100%;
    height: auto;
  }
}
.trainer {
  background-image: url(../images/gallery/6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.main__wrapper {
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(3, 25, 39, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main .main__img {
  border-radius: 5px;
  width: 400px;
  border: 1px solid #9dd1f1;
}
.main .main__img--einar {
  max-height: 350px;
}
.main__inner {
  width: 50%;
  padding: 0 0 0 20px;
}
.main__inner-title {
  padding-bottom: 20px;
  color: #9dd1f1;
  text-align: center;
  font-size: 58px;
  text-shadow: 0 0 4px black;
}
.main__inner-list {
  font-size: 22px;
  color: #9dd1f1;
}
.main__inner-item {
  padding: 10px 0;
}
.main__inner-contacts {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.main__inner-contacts-list {
  display: flex;
}
.main__inner-contacts-item {
  margin-left: 20px;
  color: #9dd1f1;
  font-size: 22px;
  transition: 0.3s;
}
.main__inner-contacts-item:hover {
  color: red;
  transform: scale(1.1);
}

@media (max-width: 1020px) {
  .main {
    background-color: #9dd1f1;
  }
  .main__wrapper {
    display: flex;
    padding: 100px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main__inner {
    padding: 0 20px;
    width: 100%;
  }
  .main__inner-list {
    list-style-type: none;
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
    color: #9dd1f1;
  }
  .main__inner-title {
    padding-top: 40px;
    text-align: center;
    font-size: 36px;
  }
  .main__inner-text {
    text-align: justify;
    font-size: 22px;
  }
  .main__inner-contacts {
    font-size: 25px;
    padding-top: 30px;
    display: flex;
  }
  .main__img {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .main {
    background-color: #9dd1f1;
  }
  .main__wrapper {
    display: flex;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main__inner {
    padding: 0 20px;
    width: 100%;
  }
  .main__inner-title {
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
  }
  .main__inner-item {
    font-size: 18px;
    padding: 5px 0;
  }
  .main__inner-text {
    text-align: justify;
    font-size: 22px;
  }
  .main__inner-contacts {
    padding-top: 30px;
    display: flex;
  }
  .main__img {
    max-width: 250px;
  }
  .main__img--einar {
    max-width: 270px;
  }
  .main__inner-contacts-item {
    font-size: 18px;
  }
}
@media (max-width: 370px) {
  .main {
    background-color: #9dd1f1;
  }
  .main__wrapper {
    display: flex;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main__inner {
    padding: 0 10px;
    width: 100%;
  }
  .main__inner-title {
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
  }
  .main__inner-item {
    font-size: 12px;
    padding: 5px 0;
  }
  .main__inner-text {
    text-align: justify;
    font-size: 22px;
  }
  .main__inner-contacts {
    padding-top: 30px;
    display: flex;
  }
  .main__img {
    max-width: 200px;
  }
  .main__img--einar {
    max-width: 200px;
  }
  .main__inner-contacts-item {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */